# Python / Backend
/backend/env/
/backend/__pycache__/
/backend/.venv/
/backend/.env

# Next.js / Frontend
/frontend/.next/
/frontend/out/
/frontend/node_modules/

# IDE settings & OS files
.vscode/
.idea/
.DS_Store